<div class="about-us-container">
    <div class="container mt-4">
        <h2 class="text-center mt-4">About Us</h2>
        <div class="mt-4">
            <p class="fs-22 mt-4">
                As a fully integrated titanium processor and convertor, Metalliage sorts and allocates titanium scrap
                for the production of Ferro-Titanium, or upgrades to produce Ti ingots for the vacuum and commercial Ti
                Markets.

            </p>
            <p class="fs-22">
                From reception through to 7 fully integrated titanium processing, melting, crushing and packing
                divisions, every member of our team shares one common philosophy: Quality - The cornerstone of our
                business.
            </p>
        </div>
    </div>
</div>