@import "../../../../assets/common/theme.scss";

.product-details-container {
    margin: 20px;

    .tabs-container {
        .composition-title {
            .mat-form-field {
                .mat-form-field-infix {
                    width: 200px !important;
                }
            }
        }

        .composition-table {
            thead {
                th {
                    background-color: $cornsilk;
                }
            }
        }

        .buy-container {
            padding: 10px;

            button {
                background-color: $raw-umber;
                color: White;
            }

            input {
                width: 80px;
                height: 33px;
            }

        }

        .button-container {
            padding: 10px;

            button {
                background-color: $raw-umber;
                color: White;
            }
        }
    }
}

.bottom-container {
    padding: 50px;
}